<footer class="footer-container">
    <a href="https://www.instagram.com/07_23_1992/" target="_blank" class="footer-item">
        <fa-icon [icon]="['fab', 'instagram']" size="2x"></fa-icon>
    </a>
    <a href="https://github.com/kims07231992/" target="_blank" class="footer-item">
        <fa-icon [icon]="['fab', 'github']" size="2x"></fa-icon>
    </a>
    <a href="https://www.linkedin.com/in/surfer-kim/" target="_blank" class="footer-item">
        <fa-icon [icon]="['fab', 'linkedin']" size="2x"></fa-icon>
    </a>
    <a href="https://www.youtube.com/@surfer-kim/" target="_blank" class="footer-item">
        <fa-icon [icon]="['fab', 'youtube']" size="2x"></fa-icon>
    </a>
</footer>
